<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>GamesCorner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <style type="text/css">
    div {font-size: 2rem; }  
    </style>
</head>
<body>
<h1 th:text="welcome">Games corner</h1>

<h2>Sign in to add your games</h2>
<!-- <h3 sec:authentication="name">
        <a th:text="${name}">Author name:</a></h3> -->
        
        <form th:action="@{/login}" method="post">

            <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
        </form>
        
        <h3>Reviews
        </h3>
</body>
</html>